/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

/*.x-tabbar .x-tab.x-iconalign-left .x-button-icon {
	margin-right: 0;
}*/

.x-tabbar .x-button-label {
	display: none;
}

.advertentie {
	.aanbieder, .prijs, .geplaatst {
		color: grey;
	}
}
